<div *ngIf="listing">
<a [routerLink]="['/movies']">Go Back</a>
  <br />
  <h2 class="page-header">{{listing.title}} <small>{{listing.year}}</small></h2>
  <div class="row">
    <div class="col-md-4">
      <img style="width:100%" class="thumbnail" src="{{imageUrl}}">
    </div>

    <div class="col-md-8">
      <ul class="list-group">
        <li class="list-group-item"><strong>Stars:</strong> {{listing.stars}}</li>
        <li class="list-group-item"><strong>Director:</strong> {{listing.director}}</li>
        <li class="list-group-item"><strong>IMDB Rating:</strong> {{listing.imdb}}</li>
        <li class="list-group-item"><strong>Category:</strong> {{listing.category}}</li>
        <li class="list-group-item"><strong>Plot:</strong> {{listing.description}}</li>
      </ul>
    </div>
    <a class="btn btn-default" [routerLink]="['/edit-movie/'+listing.$key]">Edit</a>
    <a class="btn btn-danger" (click)="onDelete()">Delete</a>
  </div>
</div>
